/* Web fonts */
@font-face {
    font-family:'stranger';
    src: url(../fonts/Benguiat\ Bold.ttf);
}

/* Algemene styling */
body {
   background-color: #1e0707;
    margin: 0;  
}

.main-body {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    
    
}

.main-footer {
 text-align: center; 
 
}


/* navigatie */
.main-nav a:link, a:visited {
color: red;
text-decoration: none;
background-color: rgb(255, 16, 16);
border: 1px solid rgb(0, 0, 0);
color: black;
padding: 10px 25px;
text-align: center;
display: block;
font-family: 'stranger', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.main-nav a:hover {
    color: #3a5fe5 ;
    background-color: black;
}
.main-nav a:active {
    color: red;
    background-color: #1e0707;
}
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.main-nav li {
    display: inline;
    margin: 0;
    
}

.main-logo {
    width: 100%;
    height: auto;
    border: 2px solid white;
    
    
}
.main-footer {
    border: 2px solid white;
    grid-row: 3 / -1;
    

}
.main-main {
    border: 2px solid blue;
    

}
.h1 {
    border: 2px solid white;
}
.main-nav {
    border: 2px solid white;
}


/* Font styling */
.h1 {
    color: #ff1515;
    font-family: 'stranger', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8rem;

}

div.main-main {
color: #ff1515;
font-family: 'stranger', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 0.75rem ;
}
div.main-footer h3 {
    color: #ff1515;
}






/* Media queries */
